

<div class="container" style="padding-top:50px">
<%= form_for @product do |f| %>
    <div class="form-group">
	<%= f.label 'Name' %>
	<%= f.text_field :name, class: 'form-control' %>
    </div>    
    <div class="form-group">
	<%= f.label 'Category' %>
	<%= f.text_field :category, class: 'form-control' %>
    </div>
    <div class="form-group">
	<%= f.label 'Color' %>
	<%= f.text_field :color, class: 'form-control' %>
    </div>
    <div class="form-group">
	<%= f.label 'Sold Out' %>
	<%= f.text_field :sold_out, class: 'form-control' %>
    </div>
    <%= f.submit class: "btn btn-default" %>
    
<% end %>

</div>
