<div class="container" style="padding-top:50px">
    <p> Name: <%= @product.name %> </p>
    <p> Category: <%= @product.category %> </p>
    <p> Sold_out: <%= @product.sold_out %> </p>
    <p> Color: <%= @product.color %> </p>
    <%= link_to "Edit", edit_product_path %>
    <%= link_to "Delete", method: :delete %>
</div>
